body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
}

.button {
  margin-bottom: 2%;
  cursor: pointer;
  background-color: #1e69d8; /* Green */
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}